<?xml version="1.0" encoding="utf-8" ?>
<configuration>
  <configSections>
    <sectionGroup name="applicationSettings" type="System.Configuration.ApplicationSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" >
      <section name="Rpo.Efiling.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" requirePermission="false" />
    </sectionGroup>
  </configSections>
  <startup>
    <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.5.2" />
  </startup>
  <connectionStrings>
    <!--<add name="RpoConnection" providerName="System.Data.SqlClient" connectionString="Data Source=192.168.1.20;Initial Catalog=RPO_Dev;Persist Security Info=True;User ID=sa;Password=sa@123;MultipleActiveResultSets=true"/>
    <add name="RpoProdConnection" providerName="System.Data.SqlClient" connectionString="Data Source=192.168.1.20;Initial Catalog=RPO_Dev;Persist Security Info=True;User ID=sa;Password=sa@123;MultipleActiveResultSets=true"/>-->
   
    <add name="RpoConnection" providerName="System.Data.SqlClient" connectionString="Data Source=rpoprod-db.cg14tqx7cne6.us-east-1.rds.amazonaws.com;Initial Catalog=rpo_final;Persist Security Info=True;User ID=rpoadmin;Password=96KucTwhbGd;MultipleActiveResultSets=true" />
    <add name="RpoProdConnection" providerName="System.Data.SqlClient" connectionString="Data Source=rpoprod-db.cg14tqx7cne6.us-east-1.rds.amazonaws.com;Initial Catalog=rpo_final;Persist Security Info=True;User ID=rpoadmin;Password=96KucTwhbGd;MultipleActiveResultSets=true" />


    <!--<add name="RpoConnection" providerName="System.Data.SqlClient" connectionString="Data Source=rpoappsbrazil.database.windows.net;Initial Catalog=rpoappsthbr;Persist Security Info=True;User ID=rpoadmin;Password=Cred@123123;MultipleActiveResultSets=true" />
    <add name="RpoProdConnection" providerName="System.Data.SqlClient" connectionString="Data Source=rpoappsbrazil.database.windows.net;Initial Catalog=rpoappsthbr;Persist Security Info=True;User ID=rpoadmin;Password=Cred@123123;MultipleActiveResultSets=true" />-->

    <!--<add name="RpoConnection" providerName="System.Data.SqlClient" connectionString="Data Source=rpouat.database.windows.net;Initial Catalog=rpouat;Persist Security Info=True;User ID=rpoadmin;Password=Cred@123123;MultipleActiveResultSets=true" />
    <add name="RpoProdConnection" providerName="System.Data.SqlClient" connectionString="Data Source=rpouat.database.windows.net;Initial Catalog=rpouat;Persist Security Info=True;User ID=rpoadmin;Password=Cred@123123;MultipleActiveResultSets=true" />-->
  </connectionStrings>

  <applicationSettings>
    <Rpo.Efiling.Properties.Settings>
      <setting name="DropboxAccessToken" serializeAs="String">
        <value>NJowicEk-_AAAAAAAAACocU1XBWOh83Em4u-IgnYUUzP0IJO6cOrr-_00btpmZyq</value>
      </setting>
      <setting name="DropboxExternalUrl" serializeAs="String">
        <value>https://www.dropbox.com/home/CORJOBDOCS</value>
      </setting>
      <setting name="DropboxFolderPath" serializeAs="String">
        <value>/CORJOBDOCS/</value>
      </setting>
      <setting name="DropboxNamespaceId" serializeAs="String">
        <value>4530242832</value>
      </setting>
    </Rpo.Efiling.Properties.Settings>
  </applicationSettings>
</configuration>