<?xml version="1.0"?>
<!--
  For more information on how to configure your ASP.NET application, please visit
  https://go.microsoft.com/fwlink/?LinkId=301879
  -->
<configuration>
  <configSections>
    <!-- For more information on Entity Framework configuration, visit http://go.microsoft.com/fwlink/?LinkID=237468 -->
    <section name="entityFramework" type="System.Data.Entity.Internal.ConfigFile.EntityFrameworkSection, EntityFramework, Version=6.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" requirePermission="false"/>
    <sectionGroup name="applicationSettings" type="System.Configuration.ApplicationSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089">
      <section name="Rpo.ApiServices.Api.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" requirePermission="false"/>
    </sectionGroup>
  </configSections>
  <appSettings>
    <add key="owin:appStartup" value="RpoStartup"/>
    <add key="as:AudienceId" value="414e1927a3884f68abc79f7283837fd1"/>
    <add key="as:AudienceSecret" value="qMCdFDQuF23RV1Y-1Gq9L3cF3VmuFwVbam4fMTdAfpo"/>
    <add key="server:IdentityServerUri" value="http://localhost:64005/"/>
    <add key="server:AuthenticationType" value="JWT"/>
    <add key="saltPassword" value="abc@123"/>
  </appSettings>
  <system.web>
    <compilation targetFramework="4.5.2" debug="true"/>
    <httpRuntime targetFramework="4.5.2" maxRequestLength="2147483647"/>
    <customErrors mode="Off"/>
  </system.web>
  <system.webServer>
    <modules>
      <remove name="WebDAVModule"/>
    </modules>
    <handlers>
      <remove name="ExtensionlessUrlHandler-ISAPI-4.0_64bit"/>
      <remove name="ExtensionlessUrlHandler-Integrated-4.0"/>
      <remove name="OPTIONSVerbHandler"/>
      <remove name="TRACEVerbHandler"/>
      <remove name="WebDAV"/>
      <add name="ExtensionlessUrlHandler-Integrated-4.0" path="*." verb="*" type="System.Web.Handlers.TransferRequestHandler" preCondition="integratedMode,runtimeVersionv4.0"/>
      <add name="ExtensionlessUrlHandler-ISAPI-4.0_64bit" path="*." verb="GET,HEAD,POST,PUT,DELETE,DEBUG" modules="IsapiModule" scriptProcessor="%windir%\Microsoft.NET\Framework64\v4.0.30319\aspnet_isapi.dll" resourceType="Unspecified" requireAccess="Script" preCondition="classicMode,runtimeVersionv4.0,bitness64" responseBufferLimit="0"/>
    </handlers>
    <security>
      <requestFiltering>
        <requestLimits maxAllowedContentLength="4294967295"/>
      </requestFiltering>
    </security>
    <staticContent>
      <mimeMap fileExtension=".msg" mimeType="application/vnd.ms-outlook"/>
    </staticContent>
    <!--<rewrite>


      <rules>
        <rule name="Force HTTPS redirect" enabled="true">
          <match url="(.*)" />
          <conditions>
            <add input="{HTTPS}" pattern="off"  />
          </conditions>
          <action type="Redirect" url="https://{HTTP_HOST}/{R:1}"
              appendQueryString="true" redirectType="Permanent" />
        </rule>
      </rules>
      <outboundRules>
        <rule name="Add Strict-Transport-Security when HTTPS" enabled="true">
          <match serverVariable="RESPONSE_Strict_Transport_Security"
              pattern=".*" />
          <conditions>
            <add input="{HTTPS}" pattern="on" ignoreCase="true" />
          </conditions>
          <action type="Rewrite" value="max-age=31536000" />
        </rule>
      </outboundRules>
    </rewrite>-->
  </system.webServer>
  <runtime>
    <assemblyBinding xmlns="urn:schemas-microsoft-com:asm.v1">
      <dependentAssembly>
        <assemblyIdentity name="System.Web.Helpers" publicKeyToken="31bf3856ad364e35"/>
        <bindingRedirect oldVersion="1.0.0.0-3.0.0.0" newVersion="3.0.0.0"/>
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="System.Web.Mvc" publicKeyToken="31bf3856ad364e35"/>
        <bindingRedirect oldVersion="1.0.0.0-5.2.3.0" newVersion="5.2.3.0"/>
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="System.Web.WebPages" publicKeyToken="31bf3856ad364e35"/>
        <bindingRedirect oldVersion="1.0.0.0-3.0.0.0" newVersion="3.0.0.0"/>
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="Microsoft.Owin.Security" publicKeyToken="31bf3856ad364e35" culture="neutral"/>
        <bindingRedirect oldVersion="0.0.0.0-3.1.0.0" newVersion="3.1.0.0"/>
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="Microsoft.Owin" publicKeyToken="31bf3856ad364e35" culture="neutral"/>
        <bindingRedirect oldVersion="0.0.0.0-3.1.0.0" newVersion="3.1.0.0"/>
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="Microsoft.Owin.Security.OAuth" publicKeyToken="31bf3856ad364e35" culture="neutral"/>
        <bindingRedirect oldVersion="0.0.0.0-3.1.0.0" newVersion="3.1.0.0"/>
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="System.Web.Cors" publicKeyToken="31bf3856ad364e35" culture="neutral"/>
        <bindingRedirect oldVersion="0.0.0.0-5.2.3.0" newVersion="5.2.3.0"/>
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="Newtonsoft.Json" publicKeyToken="30ad4fe6b2a6aeed" culture="neutral"/>
        <bindingRedirect oldVersion="0.0.0.0-10.0.0.0" newVersion="10.0.0.0"/>
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="System.IdentityModel.Tokens.Jwt" publicKeyToken="31bf3856ad364e35" culture="neutral"/>
        <bindingRedirect oldVersion="0.0.0.0-4.0.20622.1351" newVersion="4.0.20622.1351"/>
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="Microsoft.Owin.Security.Cookies" publicKeyToken="31bf3856ad364e35" culture="neutral"/>
        <bindingRedirect oldVersion="0.0.0.0-3.1.0.0" newVersion="3.1.0.0"/>
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="System.Web.Http" publicKeyToken="31bf3856ad364e35" culture="neutral"/>
        <bindingRedirect oldVersion="0.0.0.0-5.2.3.0" newVersion="5.2.3.0"/>
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="System.Net.Http.Formatting" publicKeyToken="31bf3856ad364e35" culture="neutral"/>
        <bindingRedirect oldVersion="0.0.0.0-5.2.3.0" newVersion="5.2.3.0"/>
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="itextsharp" publicKeyToken="8354ae6d2174ddca" culture="neutral"/>
        <bindingRedirect oldVersion="0.0.0.0-5.5.5.0" newVersion="5.5.5.0"/>
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="ICSharpCode.SharpZipLib" publicKeyToken="1b03e6acf1164f73" culture="neutral"/>
        <bindingRedirect oldVersion="0.0.0.0-0.84.0.0" newVersion="0.84.0.0"/>
      </dependentAssembly>
    </assemblyBinding>
  </runtime>
  <entityFramework>
    <defaultConnectionFactory type="System.Data.Entity.Infrastructure.LocalDbConnectionFactory, EntityFramework">
      <parameters>
        <parameter value="mssqllocaldb"/>
      </parameters>
    </defaultConnectionFactory>
    <providers>
      <provider invariantName="System.Data.SqlClient" type="System.Data.Entity.SqlServer.SqlProviderServices, EntityFramework.SqlServer"/>
    </providers>
  </entityFramework>
  <connectionStrings>
    <add name="RpoConnection" providerName="System.Data.SqlClient" connectionString="Data Source=44.193.122.73;Initial Catalog=rpo_final27032024;Persist Security Info=True;User ID=sa;Password=sa@123;MultipleActiveResultSets=true"/>
    <add name="RpoProdConnection" providerName="System.Data.SqlClient" connectionString="Data Source=44.193.122.73;Initial Catalog=rpo_final27032024;Persist Security Info=True;User ID=sa;Password=sa@123;MultipleActiveResultSets=true"/>
  </connectionStrings>
  <location path="." inheritInChildApplications="false">
    <system.codedom>
      <compilers>
        <compiler language="c#;cs;csharp" extension=".cs" type="Microsoft.CodeDom.Providers.DotNetCompilerPlatform.CSharpCodeProvider, Microsoft.CodeDom.Providers.DotNetCompilerPlatform, Version=1.0.7.0, Culture=neutral, PublicKeyToken=31bf3856ad364e35" warningLevel="4" compilerOptions="/langversion:6 /nowarn:1659;1699;1701"/>
        <compiler language="vb;vbs;visualbasic;vbscript" extension=".vb" type="Microsoft.CodeDom.Providers.DotNetCompilerPlatform.VBCodeProvider, Microsoft.CodeDom.Providers.DotNetCompilerPlatform, Version=1.0.7.0, Culture=neutral, PublicKeyToken=31bf3856ad364e35" warningLevel="4" compilerOptions="/langversion:14 /nowarn:41008 /define:_MYTYPE=\&quot;Web\&quot; /optionInfer+"/>
      </compilers>
    </system.codedom>
  </location>
  <applicationSettings>
    <Rpo.ApiServices.Api.Properties.Settings>
      <setting name="SmtpHost" serializeAs="String">
        <value>us-smtp-outbound-1.mimecast.com</value>
      </setting>
      <setting name="SmtpPort" serializeAs="String">
        <value>587</value>
      </setting>
      <setting name="SmtpAuthenticationEnabled" serializeAs="String">
        <value>True</value>
      </setting>
      <setting name="SmtpUserName" serializeAs="String">
        <value>info@rpoinc.com</value>
      </setting>
      <setting name="SmtpPassword" serializeAs="String">
        <value>p8!AdjFJ1cD</value>
      </setting>
      <setting name="SmtpUseSSl" serializeAs="String">
        <value>True</value>
      </setting>
      <setting name="UploadedDocumentPath" serializeAs="String">
        <value>Documents</value>
      </setting>
      <setting name="ContactDocumentPath" serializeAs="String">
        <value>UploadedDocuments/ContactDocuments</value>
      </setting>
      <setting name="ComanyDocumentPath" serializeAs="String">
        <value>UploadedDocuments/ComanyDocuments</value>
      </setting>
      <setting name="ContactImagePath" serializeAs="String">
        <value>UploadedDocuments/ContactImages</value>
      </setting>
      <setting name="EmployeeDocumentPath" serializeAs="String">
        <value>UploadedDocuments/EmployeeDocument</value>
      </setting>
      <setting name="RFPAttachmentsPath" serializeAs="String">
        <value>UploadedDocuments/RFPAttachments</value>
      </setting>
      <setting name="TaskReminderSchedulerStart" serializeAs="String">
        <value>True</value>
      </setting>
      <setting name="RFPInDraftNotifyAdminSchedulerStart" serializeAs="String">
        <value>False</value>
      </setting>
      <setting name="RfpTwoDaysInDraftUserSchedulerMinute" serializeAs="String">
        <value>10</value>
      </setting>
      <setting name="CompanyAttachmentsPath" serializeAs="String">
        <value>UploadedDocuments/CompanyAttachments</value>
      </setting>
      <setting name="ContactAttachmentsPath" serializeAs="String">
        <value>UploadedDocuments/ContactAttachments</value>
      </setting>
      <setting name="JobTrasmittalAttachmentsPath" serializeAs="String">
        <value>UploadedDocuments/JobTrasmittalAttachments</value>
      </setting>
      <setting name="TaskReminderSchedulerHour" serializeAs="String">
        <value>07</value>
      </setting>
      <setting name="TaskReminderSchedulerMinute" serializeAs="String">
        <value>03</value>
      </setting>
      <setting name="RFPInDraftNotifyAdminSchedulerHour" serializeAs="String">
        <value>07</value>
      </setting>
      <setting name="RFPInDraftNotifyAdminSchedulerMinute" serializeAs="String">
        <value>08</value>
      </setting>
      <setting name="RfpTwoDaysInDraftUserSchedulerStart" serializeAs="String">
        <value>True</value>
      </setting>
      <setting name="RfpTwoDaysInDraftUserSchedulerHour" serializeAs="String">
        <value>07</value>
      </setting>
      <setting name="RfpTwoDaysSubmittedUserSchedulerStart" serializeAs="String">
        <value>True</value>
      </setting>
      <setting name="RfpTwoDaysSubmittedUserSchedulerHour" serializeAs="String">
        <value>07</value>
      </setting>
      <setting name="RfpTwoDaysSubmittedUserSchedulerMinute" serializeAs="String">
        <value>12</value>
      </setting>
      <setting name="FrontEndUrl" serializeAs="String">
        <value>https://rpo.snapcor.com/</value>
      </setting>
      <setting name="ProposalFileExportPath" serializeAs="String">
        <value>/UploadedDocuments/ExportedProposal/</value>
      </setting>
      <setting name="RFPDocumentPath" serializeAs="String">
        <value>UploadedDocuments/RFPDocuments</value>
      </setting>
      <setting name="JobDocumentExportPath" serializeAs="String">
        <value>UploadedDocuments\JobDocument\</value>
      </setting>
      <setting name="JobDocumentTemplatePath" serializeAs="String">
        <value>JobDocumentPDFTemplate\</value>
      </setting>
      <setting name="APIUrl" serializeAs="String">
        <value>https://rpo.snapcor.com:8091/</value>
      </setting>
      <setting name="JobViolationDocumentPath" serializeAs="String">
        <value>UploadedDocuments/JobViolationDocuments</value>
      </setting>
      <setting name="TransmittalJobDocumentPath" serializeAs="String">
        <value>UploadedDocuments/TransmittalJobDocuments</value>
      </setting>
      <setting name="JobDocumentAttachmentPath" serializeAs="String">
        <value>UploadedDocuments/JobDocumentsAttachment</value>
      </setting>
      <setting name="DOTWorkPermitDocument" serializeAs="String">
        <value>UploadedDocuments/DOTWorkPermitDocument</value>
      </setting>
      <setting name="TempDocument" serializeAs="String">
        <value>UploadedDocuments/TempDocument</value>
      </setting>
      <setting name="TaskDocumentPath" serializeAs="String">
        <value>UploadedDocuments/TaskDocuments</value>
      </setting>
      <setting name="JobTrasmittalPreviewPath" serializeAs="String">
        <value>UploadedDocuments/JobTrasmittalPreview</value>
      </setting>
      <setting name="JobViolationUpdateSchedulerHour" serializeAs="String">
        <value>01</value>
      </setting>
      <setting name="JobECBViolationUpdateSchedulerHour" serializeAs="String">
        <value>4</value>
      </setting>
      <setting name="JobECBViolationUpdateSchedulerHourMinute" serializeAs="String">
        <value>03</value>
      </setting>
      <setting name="JobDOBViolationUpdateSchedulerHour" serializeAs="String">
        <value>23</value>
      </setting>
      <setting name="JobDOBViolationUpdateSchedulerHourMinute" serializeAs="String">
        <value>20</value>
      </setting>
      <setting name="JobViolationUpdateSchedulerHourMinute" serializeAs="String">
        <value>55</value>
      </setting>
      <setting name="CronjobUpdateDeveloperEmail" serializeAs="String">
        <value>meethalal.teli@credencys.com;</value>
      </setting>
      <setting name="CompanyExpiryUpdateSchedulerHour" serializeAs="String">
        <value>07</value>
      </setting>
      <setting name="CompanyExpiryUpdateSchedulerMinute" serializeAs="String">
        <value>30</value>
      </setting>
      <setting name="ReportExcelExportPath" serializeAs="String">
        <value>UploadedDocuments/ReportExportToExcel/</value>
      </setting>
      <setting name="ExportToExcelTemplatePath" serializeAs="String">
        <value>ExportToExcelTemplate/</value>
      </setting>
      <setting name="AddPageTemplatePath" serializeAs="String">
        <value>JobDocumentAddPageTemplate/</value>
      </setting>
      <setting name="JobDobApplicationUpdateSchedulerHour" serializeAs="String">
        <value>04</value>
      </setting>
      <setting name="JobDobApplicationUpdateSchedulerHourMinute" serializeAs="String">
        <value>55</value>
      </setting>
      <setting name="DropboxAccessToken" serializeAs="String">
        <value>NJowicEk-_AAAAAAAAACocU1XBWOh83Em4u-IgnYUUzP0IJO6cOrr-_00btpmZyq</value>
        <!-- Client DropBox-->
        <!-- <value>vQ2vJ-qfUXIAAAAAAABSXj6jT_W8xojU2uJ7x_o__EE-qv8FxBRD9Dx1Hnc4tz3-</value>-->
        <!-- Local/QA/UAT DropBox-->
      </setting>
      <setting name="DropboxExternalUrl" serializeAs="String">
        <value>https://www.dropbox.com/home/CORJOBDOCS</value>
        <!-- Client DropBox-->
        <!--<value>https://www.dropbox.com/home/COR_JOBDOCS_QA_UAT_LOCAL</value>-->
        <!-- Local/QA/UAT DropBox-->
      </setting>
      <setting name="DropboxFolderPath" serializeAs="String">
        <value>/CORJOBDOCS/</value>
        <!-- Client DropBox-->
        <!--<value>/COR_JOBDOCS_QA_UAT_LOCAL/</value>-->
        <!-- Local/QA/UAT DropBox-->
      </setting>
      <setting name="DropboxNamespaceId" serializeAs="String">
        <value>4530242832</value>
        <!-- Client DropBox-->
        <!-- <value></value>-->
        <!-- Local/QA/UAT DropBox-->
      </setting>
      <setting name="IsSnapcor" serializeAs="String">
        <value>Yes</value>
      </setting>
      <setting name="IsUAT" serializeAs="String">
        <value>No</value>
      </setting>
      <setting name="CronjobTimeZone" serializeAs="String">
        <value>Eastern Standard Time</value>
      </setting>
      <setting name="JobPermitStatusSchedulerHour" serializeAs="String">
        <value>01</value>
      </setting>
      <setting name="JobPermitStatusSchedulerHourMinute" serializeAs="String">
        <value>55</value>
      </setting>
      <setting name="JobDobNowApplicationUpdateSchedulerHour" serializeAs="String">
        <value>08</value>
      </setting>
      <setting name="JobDobNowApplicationUpdateSchedulerHourMinute" serializeAs="String">
        <value>35</value>
      </setting>
      <setting name="JobViolationUpdateDeveloperEmail" serializeAs="String">
        <value>meethalal.teli@credencys.com;</value>
      </setting>
      <setting name="JobDOBUpdateSchedulerHour" serializeAs="String">
        <value>06</value>
      </setting>
      <setting name="JobDOBUpdateSchedulerHourMinute" serializeAs="String">
        <value>55</value>
      </setting>
      <setting name="JobCustomerReminderSchedulerHour" serializeAs="String">
        <value>10</value>
      </setting>
      <setting name="JobCustomerReminderSchedulerHourMinute" serializeAs="String">
        <value>55</value>
      </setting>
    </Rpo.ApiServices.Api.Properties.Settings>
  </applicationSettings>
  <system.web.extensions>
    <scripting>
      <webServices>
        <jsonSerialization maxJsonLength="4294967295"/>
      </webServices>
    </scripting>
  </system.web.extensions>
</configuration>